body {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#calculator-body {
    width: 400px;
    height: 500px;
    background-color: #fff;
    border: 2px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    gap:  36px;
}

#calculator-display {
    width: 80%;
    height: 15%;
    border: 1px solid #000;
    font-size: 2em;
    text-align: right;
}

#calculator-buttons {
    font-size: 40px;
    width: 80%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid #000; */
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

button {
    width: 60px;
    height: 60px;
    border: 1px solid #000;
    background-color: #fff;
    cursor: pointer;
}