body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#calculator-body {
    width: 350px;
    height: 500px;
    /* border: 2px solid #000; */
    box-shadow: 0 0 10px 0 rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 40px;
    padding-top: 30px;
    gap: 16px;
    border-radius: 10px;
    background-color: rgba(3, 3, 67, 0.836);

}

#calculator-display {
    width: 100%;
    height: 15%;
    margin-bottom: 40px;
    box-shadow: 0 0 10px 0 rgba(178, 201, 118, 0.751);
    font-size: 2em;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 6px;
    border-radius: 10px;
    background-color: rgba(195, 214, 148, 0.751);
}

.row {
    display: flex;
    width: 100%;
    font-size: 40px;
    gap: 10px;
}

button {
    flex: 1;
    height: 60px;
    border: none;
    background-color: rgba(255, 255, 255, 0.562);
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.362);
    /* Make buttons circular */
    /* border-radius: 100%; */
    border-radius: 10px;
    font-size: 20px;
}

.operator {
    font-size: 22px;
}